<body class="sidebar-mini layout-fixed" style="height:auto">
    <div class="wrapper" style="height:auto; min-height:100%;">
        <NavMenu />
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
                    <img href="/"
                         src="../../AdminLTE/img/osas.png"
                         alt="AdminLTE Logo"
                         class="brand-image"
                         style="opacity: .8">
            <!-- Sidebar -->
            <div class="sidebar" style="height: auto">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
    </div>
</body>
@code{

}
